@model SATProject.Enrollment

@{
    ViewBag.Title = "Delete Enrollment";
}

<h2>Delete Enrollment</h2>

<h3>Are you sure you want to delete this?</h3>
<div id="courseWrapper">
    <div id="courseHeader">
        <h1>Enrollment</h1><br />
    </div>
    <div id="courseRight">
        Student Name:
        @Html.DisplayFor(model => model.Student.firstName)
        &nbsp;
        @Html.DisplayFor(model => model.Student.lastName)
            <br /><br />
        Course Name:
        @Html.DisplayFor(model => model.ScheduledClass.Cours.courseName)<br /><br />
        Start Date:
        @Html.DisplayFor(model => model.ScheduledClass.startDate)<br /><br />
        Enrollment Date:
        @Html.DisplayFor(model => model.enrollmentDate)
    </div>
    <div id="courseFooter">
        @using (Html.BeginForm()) {
            <br />
        <input type="submit" value="Delete Enrollment" /> 
            <br /><br />
        @Html.ActionLink("Back to Enrollments", "Index")
}
    </div>
</div>
        

